body{
    font-family: 'Istok Web', sans-serif;
    color:maroon;

}
#head_name{
    font-weight: 100;
    font-size: 7vw;
    margin-top: 100px;
}
#subhead{ 
    font-size: 3vw;
    height: fit-content;
    color: #000;
}
.container{
    
}
#subhead a:link{
    color:black;
}
#subhead a:visited{
    color:black;
}
#wa_btn{
    height: 60px;
    width: 300px;
    font-size: 20px;
}

#head_img{
    display: none;
}
.layer {
    background-color: rgba(212, 201, 201, 0);
    top: 0;
    position:absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.layer:hover{
    background-color: rgba(15, 15, 15, 0.05);
}
.title{
    font-weight: bolder;
    font-size: 23px;
    width:150px;
    display: block;
    align-self: center;
    padding: 2px;
}
.section{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.line-one {
    height: 2px;
    width: 100px;
    background: #E91E63;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.content{
    margin-top: 20px;
}
.project-item{
    /* background-image: url("./../assets/images/bg-tech.jpg");
    background-size: 100% 100%; */
    height: 300px;
}
.project-item .layer p{
    color: black;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    text-shadow: black;
}

@media only screen and (max-width: 600px) {
    #head_img{
        display: block;
        width: 80%;
    }
    body {
    }
    #subhead{
        font-size: 1.4rem;
        height: fit-content;
        color: #000;
    }
    #head_name{
        font-weight: 100;
        font-size: 2.4rem;
        margin-top: 10px;
  }
}