body{
    font-family: 'Istok Web', sans-serif;
    color:#a63538;

}

#head_name{
    font-weight: 100;
    font-size: 5.4rem;
}
#subhead{
    font-size: 2.4rem;
    height: fit-content;
    color: #000;
}
.container{
    
}
a:link{
    color:black;
}
a:visited{
    color:black;
}