body{
    font-family: 'Istok Web', sans-serif;
    color:#a63538;

}

#head_name{
    font-weight: 100;
    font-size: 7vw;
    margin-top: 100px;
}
#subhead{
    font-size: 3vw;
    height: fit-content;
    color: #000;
}
.container{
    
}
#subhead a:link{
    color:black;
}
#subhead a:visited{
    color:black;
}
#wa_btn{
    height: 60px;
    width: 300px;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    #subhead{
        font-size: 1.4rem;
        height: fit-content;
        color: #000;
    }
    #head_name{
        font-weight: 100;
        font-size: 2.4rem;
        margin-top: 0rem;
  }